body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 75, 0, 0.75), black 120%);
    font: Courier, monospace;
}

div {
    background: transparent;
}

p {
    color: Lime;
    white-space: pre-wrap;
    background-color: black;
    background: transparent;
    text-shadow: 0 0 5px #C8C8C8;
    display: inline;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#line {
    background: transparent;
    border: 0px solid;
    color: Lime;
    caret-color: darkcyan;
    text-shadow: 0 0 5px #C8C8C8;
    font-size: 1.5rem;
    font: Courier, monospace;
    margin-top: 0px;
    margin-bottom: 0px;
    font-fami ly: inherit;
}

#line:focus {
    outline: none;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

.prompt {
    display: inline;
    color: mediumvioletred;
    font-weight: bold;
    text-shadow: 0 0 2px palevioletred;
}

/* todo shining effect not working*/
a {
    display: table;
    font-size: 40px;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    &:after {
        content: '';
        width: 20%;
        height: 100%;
        position: absolute;
        left: auto;
        top: 0;
        bottom: 0;
        right: -20%;
        background-image:
            linear-gradient(135deg,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, .8),
                rgba(255, 255, 255, 0));
    }

    &:hover {

        &:after {
            transition: all .4s ease-out;
            right: 100%;
        }
    }
}
