body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 75, 0, 0.75), black 120%);
    font: Courier, monospace;
}

div {
    background: transparent;
}

p {
    color: Lime;
    white-space: pre-wrap;
    background-color: black;
    background: transparent;
    text-shadow: 0 0 5px #C8C8C8;
    display: inline;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}


#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#line {
    background: transparent;
    border: 0px solid;
    color: Lime;
    caret-color: darkcyan;
    text-shadow: 0 0 5px #C8C8C8;
    font-size: 1.5rem;
    font: Courier, monospace;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: inherit;
}

#line:focus {
    outline: none;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

.prompt {
    display: inline;
    color: tomato;
    font-weight: bold;
    text-shadow: 0 0 2px palevioletred;
    animation: none;
}

@keyframes shine {
    0% {
        color: #7A9E9F;
    }

    50% {
        color: #CEE7E6;
    }

    100% {
        color: #7A9E9F;
    }
}

a {
    display: table;
    font-size: 40px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: PaleGreen;
    font-size: 1.5rem;
    //animation: typing 4s steps(80, end), blink .75s step-end infinite;
}

a:hover {
    animation: shine 1.5s infinite;
}

a:visited {
    color: #62AB37;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 4s steps(80, end), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}


button {
    border-radius: 4px;
    background: linear-gradient(to right, #CEE7E6, #7A9E9F) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    animation: shine 2s infinite;
}
